.img-container {
  position: relative;
  text-align: center;
  color: white;
}
.center{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.center-p{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}